<form class="shinobi-form">

  <div class="shinobi-paesonal-form">
    
  </div>

  <div class="shinobi-skill-form">
  </div>

  <div class="shinobi-arts-form">
  </div>

  <div class="shinobi-background-form">
  </div>

  <div class="shinobi-items-form">
  </div>


</form>