<div class="side-bar">
  <div class="app-title">
    <h1><a href="/">キャラファイル</a></h1>
  </div>
  <div class="home">
    <a href="#">ホーム</a>
  </div>
  <div class="follow-user">
    <a href="#">フォロー</a>
  </div>
  <div class="follower-user">
    <a href="#">フォロワー</a>
  </div>
  <div class="user-column">
    <div class="user-image">
      <h1>アカウント画像</h1>
    </div>
    <div class="user-text">
      <h1 class="user-name">ゲルマニウム将軍</h1>
      <h1 class="user-email">sample@email.com</h1>
    </div>
  </div>
  <div class="log-out">
    <a href="#">ログアウト</a>
  </div>
</div>