<div class="wrapper">

  <%= render "side-bar"%>

  <div class="user-page">

    <%= render "search_form" %>

    <div class="result-window">
      <div class="result-title">
        <h1>検索結果</h1> 
      </div>
      
      <%= render partial: "user_list", locals: { users: @users } %>

    </div>
  </div>

</div>

<%= render "layouts/footer" %>

<%#= link_to "フォロー済み", user_relationship_path(user.id), method: :delete %>
<%#= link_to "フォローする", user_relationships_path(user.id), method: :post %>