<div class="wrapper">
  <%= render "users/side-bar" %>

  <%= render partial: "form", locals: { cthulhu: @cthulhu } %>

  <style>
    .hidden-btns{display:none;}
  </style>
</div>

<%= render "layouts/footer" %>