<div class="wrapper">
  <%= render "users/side-bar" %>


  <form class="cthulhu-form">
    <div class="base-status">
      <table class="cthulhu-status">
        <tr>
          <th class="form-label">プレイヤー名</th>
          <th colspan="3"><input type="text" value="ゲルマニウム将軍" class="person"></th>
          <th colspan="2" class="large-label">設定</th>
          <td class="image-area"rowspan="5"><div  class="image-area">画像</div><br>
          <input type="file"></td>
        </tr>
        <tr>
          <th class="form-label">名前</th>
          <td colspan="3"><input type="text" class="person"></td>
          <td colspan="2" rowspan="4"><textarea rows="10" class="long-person"></textarea></td>
        </tr>
        <tr>
          <th class="form-label">職業</th>
          <td colspan="3"><input type="text" class="person"></td>
        </tr>
        <tr>
          <th class="form-label">年齢</th>
          <td><input type="text" class="short-person"></td>
          <td rowspan="2"><textarea rows="4" placeholder="所持品" class="person"></textarea></td>
        </tr>
        <tr>
          <th class="form-label">性別</th>
          <td><input type="text" class="short-person"></td>
        </tr>
      </table>
    </div>
    <div class="parameter-status">
      <div class="label-flex">
        <h3>ステータス</h3>
        <h3>ランダム決定</h3>
      </div>
      <table class="cthulhu-status">
        <tr>
          <th class="short-label">STR</th>
          <th class="short-label">CON</th>
          <th class="short-label">POW</th>
          <th class="short-label">DEX</th>
          <th class="short-label">APP</th>
          <th class="short-label">SIZ</th>
          <th class="short-label">EDU</th>
          <th class="short-label">INT</th>
          <th class="short-label">アイデア</th>
          <th class="short-label">幸運</th>
          <th class="short-label">知識</th>
          <th class="short-label">SAN値</th>
          <th class="short-label">耐久力</th>
          <th class="short-label">MP</th>
          <th class="short-label">DB</th>
        </tr>
        <tr>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
          <td><input type="text" class="short-column"></td>
        </tr>
      </table>
    </div>
    <h3>技能一覧</h3>
    <div class="skill-status">
      <table>
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>技能</th>
            <th>値</th>
            <th>技能</th>
            <th>値</th>
            <th>技能</th>
            <th>値</th>
            <th>技能</th>
            <th>値</th>
            <th>技能</th>
            <th>値</th>
          </tr>
          <tr>
            <th>目星</th>
            <td><input type="text" class="short-column"></td>
            <th>運転</th>
            <td><input type="text" class="short-column"></td>
            <th>医学</th>
            <td><input type="text" class="short-column"></td>
            <th>言いくるめ</th>
            <td><input type="text" class="short-column"></td>
            <th>こぶし</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>聞き耳</th>
            <td><input type="text" class="short-column"></td>
            <th>操縦</th>
            <th></th>
            <th>化学</th>
            <td><input type="text" class="short-column"></td>
            <th>説得</th>
            <td><input type="text" class="short-column"></td>
            <th>キック</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>応急手当て</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
            <th>薬学</th>
            <td><input type="text" class="short-column"></td>
            <th>信用</th>
            <td><input type="text" class="short-column"></td>
            <th>頭突き</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>精神分析</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
            <th>生物学</th>
            <td><input type="text" class="short-column"></td>
            <th>心理学</th>
            <td><input type="text" class="short-column"></td>
            <th>組み付き</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>登攀</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
            <th>物理学</th>
            <td><input type="text" class="short-column"></td>
            <th>値切り</th>
            <td><input type="text" class="short-column"></td>
            <th>ﾏｰｼｬﾙｱｰﾂ</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>跳躍</th>
            <td><input type="text" class="short-column"></td>
            <th>乗馬</th>
            <td><input type="text" class="short-column"></td>
            <th>天文学</th>
            <td><input type="text" class="short-column"></td>
            <th>母国語</th>
            <th></th>
            <th>ナイフ</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>投擲</th>
            <td><input type="text" class="short-column"></td>
            <th>重機械操作</th>
            <td><input type="text" class="short-column"></td>
            <th>考古学</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
            <th>日本刀</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>回避</th>
            <td><input type="text" class="short-column"></td>
            <th>機械修理</th>
            <td><input type="text" class="short-column"></td>
            <th>歴史</th>
            <td><input type="text" class="short-column"></td>
            <th>ほかの言語</th>
            <td><input type="text" class="short-column"></td>
            <th>杖</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>隠す</th>
            <td><input type="text" class="short-column"></td>
            <th>電気工学</th>
            <td><input type="text" class="short-column"></td>
            <th>人類学</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
            <th>拳銃</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>隠れる</th>
            <td><input type="text" class="short-column"></td>
            <th>ｺﾝﾋﾟｭｰﾀ</th>
            <td><input type="text" class="short-column"></td>
            <th>地質学</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
            <th>クトゥルフ神話</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>忍び歩き</th>
            <td><input type="text" class="short-column"></td>
            <th>図書館</th>
            <td><input type="text" class="short-column"></td>
            <th>博物学</th>
            <td><input type="text" class="short-column"></td>
            <th>芸術</th>
            <th></th>
          </tr>
          <tr>
            <th>変装</th>
            <td><input type="text" class="short-column"></td>
            <th>写真術</th>
            <td><input type="text" class="short-column"></td>
            <th>経理</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>追跡</th>
            <td><input type="text" class="short-column"></td>
            <th>鍵開け</th>
            <td><input type="text" class="short-column"></td>
            <th>法律</th>
            <td><input type="text" class="short-column"></td>
            <th>制作</th>
            <td><input type="text" class="short-column"></td>
          </tr>
          <tr>
            <th>ﾅﾋﾞｹﾞｰﾄ</th>
            <td><input type="text" class="short-column"></td>
            <th>水泳</th>
            <td><input type="text" class="short-column"></td>
            <th>オカルト</th>
            <td><input type="text" class="short-column"></td>
            <td><input type="text" class="short-person"></td>
            <td><input type="text" class="short-column"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-btn">
      <a href="#" class="save-btn">編集する</a>
      <a href="#" class="save-btn">削除する</a>
    </div>
  </form>
</div>

<%= render "layouts/footer" %>