  <div class="character-index">
    <div class="my-character">
        <div class="my-character-pull">
          <select class="character-select" id="character-select">
            <option value="">キャラクター一覧</option>
            <% @characters.each do |character| %>
              <option value=<%= character.id %>><%= character.name %></option>
            <% end %>
          </select>
        </div>
        <div class="character-sample-status">
          <h3>名前</h3>
          <h4 id="character-name">キャラクター1</h4>
          <h3>システム</h3>
          <h4 id="system-name">クトゥルフ神話TRPG</h4>
          <h3>作成日時<h3>
          <h4 id="created_at">2019-05-21</h4>
        </div>
        <div class="character-btns">
          <div class="character-edit">
            <input type="submit" value="編集" class="edit-btn" >
          </div>
          <div class="character-delete">
            <input type="submit" value="削除" class="delete-btn">
          </div>
        </div>
    </div>
    <div class="character-sample-image">
    </div>
  </div>