.cthulhu-form {
  width: 70%;
  margin: 30px 0;
}

.cthulhu-form tr, .cthulhu_form th, .cthulhu-form td {
  color: #ffffff;
  border: 1px solid #98cc65;
  text-align: center;
  background-color: #009bc6;
  padding: 1px;
}

.cthulhu-status {
  width: 100%;
  background-color: #009bc6;
  padding:3px;
}

.large-label {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.label-flex {
  display: flex;
  width: 100%;
    background-color: #98cc65;
}

h3 {
  color: #ffffff;
  background-color: #98cc65;
  margin-right: 25px;
}

.form-label {
  width: 64px;
  font-size: 13px;
  color: #ffffff;
  padding: 2px;
  text-align: center;
}

.person {
  width:97%;
  margin: 0 1px;
}

.image-area {
  height: 250px;
  width: 200px;
  background-color: #ffffff;
}

.long-person {
  width: 300px;
}

.short-label {
  color: #ffffff;
  text-align: center;
}

.short-column {
  width:3em;
  text-align: center;
}

.short-person {
  width: 5em;
  text-align: center;
}

.save-btn {
  color: #ffffff;
  background-color: #98cc65;
  padding:5px;
  border: 1px solid #999999;
}