body {
}

.wrapper {
  display: flex;
  background-color: #7acbe1;
}

.side-bar {
  width: 250px;
  height: 100vh;
  padding: 80px 10px 100px;
  margin:  0 50px ;
  background-color: #009bc6;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.app-title a,
.home a,
.log-out a,
.follow-user a,
.follower-user a,
.user-column {
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",sans-serif;
  color: #ffffff;
  padding: 10px;
}

.app-title a {
  font-size: 30px;
  background-color: #98cc65;
}

.home a, .log-out a, .follow-user a, .follower-user a{
  font-size: 20px;
  border-bottom: 2px solid #98cc65;
}

.user-column {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-image {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
}

.user-name, .user-email {
  border-bottom: 1px solid #98cc65;
  padding: 5px;
}

.user-name {
  font-size: 15px;
}
.user-email {
  font-size: 12px;
  color: #ffffff;
}

footer {
  padding:16px;
  width: 100vw;
  height: 60px;
  margin: 0 auto;
  text-align: right;
  background-color: #009bc6;
}

.copy-right {
  color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
}