.user-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:60%;
  padding: 80px 0px;
}

.search-form {
  height: 35px;
  width: 300px;
  display: flex;
  margin-right: 20px;
}

.search-text {
  width: 100%;
  padding-left: 5px;
  border:1px solid gray;
}

.search-btn {
  width: 50px;
  margin-left: 10px;
  border: none;
  color: #ffffff;
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",sans-serif;
  background-color: #98cc65;
}

.system-select {
  padding: 0 10px;
  width: 100%;
  margin-bottom: 3px;
  border: 1px solid gray;
}

.new-character a {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",sans-serif;
  color: #ffffff;
  border-bottom: 2px solid #009bc6;
  padding:10px;
}

.character-window {
  height: 60%;
  width: 100%;
  background-color: #ffffff;
}

.character-title {
  text-align: center;
}

.character-list {
  display:flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.list {
  width: 156px;
  margin: 10px;
  padding: 2px;
  border: 1px solid #98cc65;
}

.list p {
  text-align: center;
}

.character-image {
  width: 150px;
  height: 150px;
  background-color: red;
  display:block;
}